%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

[
 %% Copy this section to your application's .config file to
 %% provide configuration values to the elysium included
 %% application.
 {elysium,
  [
   {cassandra_ip,   "192.168.1.71"},
   {cassandra_port,           9042},
   {cassandra_worker_max_count,  5},
   {cassandra_worker_queue, elysium_connection_queue},
   {decay_probability,         100}   % 100 chances per 1M uses
].
